<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title></title>
</head>
<body>
	<div id="logo">
		<h3 id="a">A</h3><h3 id="rsenal">rsenal</h3>
		<h3 id="blog">Blog</h3>
	</div>
	<div id = "navbar">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/post">Post</a></li>
			<li><a href="/contributors">Contributors</a></li>
		</ul>
	</div>
	<a id="logout" href="/logout">Logout</a>
<%=yield%>


</body>
</html>