<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h4 id="newusertitle">Please Enter User Information</h4>
<div id="newuserform"
	<form method="POST" action="/login/new">
   		<label>First Name</label><input name="first_name" /><br />
   		<label>Last Name</label><input name="last_name" /><br />
   		<label>City</label><input name="city" /><br />
   		<label>State</label><select name="state">
          <option value="New York">New York</option>
          <option value="Connecticut">Connecticut</option>
          <option value="New Jersey">New Jersey</option>
          <option value="Massachusetts">Massachusetts</option>
          <option value="New Hampshire">New Hampshire</option>
          <option value="Vermont">Vermont</option>
       	</select><br />
   		<label>Email</label><input name="email" /><br />
   		<label>Username</label><input name="username" /><br />
   		<label>Password</label><input name="password" /><br />
   		<input type="submit" value="Create" />
 	</form>
 </div>
</body>
</html>

