<!DOCTYPE html>
<html>
<head>
	<title>Blog Post</title>
</head>
<body>
	<div id="blogentry">
	<form method="POST" action="/post">
		<h2>Post a Blog Entry: </h2>
		<label>Post Title</label><input name="title" /><br />
		<textarea rows="8" cols="60" name="blog_post"></textarea><br>
		<input type="submit">
	</form>
	</div>
</body>
</html>