<!DOCTYPE html>
<html>
<head>
	<title>Blog Post</title>
</head>
<body>
	<div id="blogpost">
	<form method="POST" action="/post">
		<label>Post Title (Optional)</label><input name="title" /><br />
		<textarea rows="8" cols="60" name="blog_post"></textarea>
		<input type="submit">
	</form>
	</div>
</body>
</html>